.users-carts {
    width: 260px; 
    height: 270px; 
    margin: 5px;
    padding: 10px;
    box-shadow: 10px 5px 5px #c9c9c9;
}

.button-delete-user {
    display: flex;
    background-color: #ffff;
    color: #7a0718;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    width: 102px;
}

.button-edit-user {
    display: flex;
    background-color: #ffff;
    color: #005cbb;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    width: 97px;
}

.users-carts-name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 400;
}

.button-container {
    display: flex;
    margin-top: 25px;
    gap: 15px;
}

.mat-card-header {
    display: flex;
    padding: 8px;
}