<mat-card appearance="outlined" class="users-carts ">
    <mat-card-header class="mat-card-header">
        <mat-card-title class="users-carts-name">
            <mat-icon style="color:#F0BA4E;">assignment_ind</mat-icon>
            {{user.name}}
        </mat-card-title>
        <mat-card-title class="users-carts-name">
            <mat-icon style="color: #005cbb;"> contact_mail</mat-icon>
            {{user.email | CustomPipe }}
        </mat-card-title>
        <mat-card-title class="users-carts-name">
            <mat-icon style="color: #4B565E;">chrome_reader_mode</mat-icon>
            {{user.website}}
        </mat-card-title>
        <mat-card-title class="users-carts-name">
            <mat-icon style="color: #7c66996c;"> business</mat-icon>
            {{user.company.name}}
        </mat-card-title>
        <mat-card-title class="users-carts-name">
            <mat-icon>phonelink_ring</mat-icon>
            {{ user.phone ?? '' | CustomNumberPipe }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="button-container">
        <button class="button-delete-user" mat-button (click)="openDeleteDialog()">
            Delete
            <mat-icon>delete</mat-icon>
        </button>
        <button class="button-edit-user" mat-button (click)="openDialog()">
            Edit
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>