.todo-form-container {
    margin-left: 10px;
}

.todo-form {
    display: flex;
    flex-direction: column;
}

.todo-form-button {
    display: flex;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    padding: 7px;
    background-color: #F0BA4E;
    cursor: pointer;
}