.User-form-container {
    display: flex;
    justify-content: center;
    width: 1320px;
    margin: 0 auto;
}

.User-form-button {
    display: flex;
    margin-top: 5px;
    width: 212px;
    border: 1px solid #ffffff;
    padding: 7px;
    cursor: pointer;
    background-color: #f5f5f5;
    align-self: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.forms-size {
    width: 100%;
}

.User-form-title {
    display: flex;
    justify-content: center;
}