<div class="User-form-container">
    <form 
        class="user-form"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
    >
        <mat-form-field class="forms-size">
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Website:</mat-label>
            <input matInput formControlName="website">
        </mat-form-field>

        <div formGroupName="company">
            <mat-form-field class="forms-size">
                <mat-label>Company name:</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>

        <mat-form-field class="forms-size">
            <mat-label>Phone number:</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <button type="submit" class="User-form-button" [disabled]="form.invalid" (click)="submitForm()" mat-button>Create user</button>
    </form>
</div>
