<div class="User-form-container">
    <form 
        class="user-form"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
        >
        <mat-form-field class="forms-size">
            <mat-label>Укажите имя пользователя:</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Укажите почту пользователя:</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Укажите веб сайт пользователя:</mat-label>
            <input matInput formControlName="website">
        </mat-form-field>

        <div formGroupName="company">
            <mat-form-field class="forms-size">
                <mat-label>Укажите имя компании:</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <button type="submit" class="User-form-button" [disabled]="!form.valid" (click)="submitForm()" mat-button>Create user</button>
    </form>
</div>
